.card {
    width: 70%;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 30px;
    text-align: center;
}

.card-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
}

.card-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #555;
}

.card-content p:last-child {
    margin-bottom: 0;
}

.iban-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.iban {
    font-weight: bold;
    color: #000;
    margin-right: 10px;
}

.copy-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #555;
}

