body {
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 1070px;
    width: 100vw;

}
.container {
        width: 1000px; /* genişlik 1000 piksel */
        height: 100%; /* yükseklik 300 piksel */
        margin: 0 auto; /* merkezlemek için */
        position: relative; /* pozisyonu göreceli olarak ayarla */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-row-gap: 20px;
}

 .sahiplendirme-form-nav{
    height: 440px;;
 }
.sahiplendirme-toplu-kart-nav{
    padding-bottom: 90px;
    height: auto;
}
nav .sahiplendirme-form {
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 7px 232.5px 17.5px rgba(0, 0, 0, 0.09);
    position: absolute;
    width: 100% ;
    top: 90px;
    height: 300px;
    z-index: 132;
    display: flex;
    flex-direction: column;

}
nav .sahiplendirme-toplu-kart{
    display: flex;
    flex-direction: column;
    width: 1000px; /* yükseklik 300 piksel */
    margin: 0 auto; /* merkezlemek için */
}


nav .sahiplendirme-kart{
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 7px 232.5px 17.5px rgba(0, 0, 0, 0.09);
    position: static;
    width: 100% ;
    margin-top: 50px;
    height: 300px;
    z-index: 132;
    display: flex;
    flex-direction: column;
}
.form-container {
    padding: 30px;;
    justify-content: center;
    align-items: center;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
  }

  .form-group {
    flex: 1;
    margin: 0 10px;
  }

  button[type="submit"] {
    background-color: #329ce0;
    color: #fff;
    border-radius: 11px;
    padding: 10px 67px;
    border: none;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #1E90FF;
  }

  .ilan-ver-butonu {
    background-color: transparent;
    border-width: 3px;
    border-color: #329ce0;
    color: #329ce0;
    border-style: solid;
    border-radius: 11px;
    text-align: center;
    padding: 6px 24.5px;
    cursor: pointer;
  }
  .ilan-ver-butonu:hover {
    background-color: rgb(49, 153, 219);
    color: #fff;
  }
.ilan-ver-yazisi{
    text-decoration: none;
}

.ic-kutular{
    width: 200px;
}



.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    background-color: #f9f9f9;
    color: #333;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1em;
    padding: 0 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .custom-select:hover,
  .custom-select:focus {
    background-color: #e9e9e9;
  }

  .custom-select:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    font-size: 0.8em;
    pointer-events: none;
  }

  .custom-select option {
    background-color: #f9f9f9;
    color: #333;
    font-size: 1em;
  }

  .custom-select option:hover {
    background-color: #e9e9e9;
  }

  .custom-select option:checked {
    background-color: #329ce0;
    color: #fff;
  }


  .container2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
  }

  .left {
    width: 30%;
    text-align: center;
      display:flex;
      justify-content:center;
      align-items: center;
      height: 100%;

  }

  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #329ce0;
  }
  .kart-resimleri{
    width: 10px;
    height: 10px;
    padding-right: 10px;
  }
  .yan-yana-birleştirme{
    display: flex;
      height: 100%;
      align-items: flex-start;


  }
  .kısa-bilgi-divi{
      width: 150px;
      padding-right: 10px;
      padding-top: 10px;
  }
  .right {
    width: 70%;
      height: 100%;
  }
  .aciklama-div{
    height: 250px;
    width: 570px;

  }
  .title{
        font-family: "Open Sans";
      font-size: 35px;
        color: rgb(73, 70, 70);
        --moz-transform: matrix( 1.45997225606814,0,-3.6253914291674e-15,1.45997225606814,0,0);
        --webkit-transform: matrix( 1.45997225606814,0,-3.6253914291674e-15,1.45997225606814,0,0);
        --ms-transform: matrix( 1.45997225606814,0,-3.6253914291674e-15,1.45997225606814,0,0);



  }
  .location, .date, .tur{
    font-size: 15px;
    font-family: "Nunito Sans";
    color: #329ce0;
  }

  .description {
      padding-left: 20px;
      padding-top: 29px;
    font-size: 14px;
    font-family: "Nunito Sans";
    color: rgb(73, 70, 70);
    font-style: italic;
    line-height: 1.4;
    --moz-transform: matrix( 1.24919139735721,0,0,1.24919139735721,0,0);
    --webkit-transform: matrix( 1.24919139735721,0,0,1.24919139735721,0,0);
    --ms-transform: matrix( 1.24919139735721,0,0,1.24919139735721,0,0);


  }

  .link {
    font-size: 18px;
  }
