.container {
    width: 70%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.2);
    margin: 0 auto;
    text-align: center;
    background: white;
    margin-bottom: 50px;
    border-radius: 20px;

}

.image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 60px;
}

.image-wrapper .ilan_img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid dodgerblue; /* Mavi çerçeve */
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info {
    display: flex;
    align-items: center;
    margin-top: 5px; /* İstenilen boşluk */
    font-family: "OpenSans";
}

.info span {
    font-style: italic;
    font-weight: bold;
    margin-left: 5px; /* Yazının sol tarafındaki boşluğu ayarlayın */
    color: dodgerblue; /* Hafif gri font rengi */
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.info .icon {
    margin-right: 0;
    margin-left: 5px;
}

.title {
    font-size: 31.69px;
    font-family: "OpenSans";
    color: rgb(73, 70, 70);
    font-weight: bold;
    margin-top: 10px;
}

.description {
    font-size: 21px;
    font-family: "Myriad Pro";
    color: rgb(73, 70, 70);
    text-align: center;
    margin-top: 5px;
}


.user-info2 .item span {
    font-weight: bold;
    color: dodgerblue;
}


.item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 25px;
    font-size: 20px;
}

.user-info .item span {
    font-weight: bold;
    color: dodgerblue;
}

.user-info {
    grid-column: 1 / span 6;
    margin-top: 20px;
    margin-left: 50px;
}

.user-info2 {
    grid-column: 7 / span 6;
    margin-top: 20px;
    margin-left: 100px;
}

.u_info {
    margin-top: 50px;
    display: grid;
    text-align: left;
    grid-template-columns: repeat(12, 1fr);
}

.edit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    border-radius: 8px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.edit-button:hover {
    background-color: gold;
}
